:root {
  --blue-jb: #2887f9;
  --darken-blue-jb: #0d2bd6;
  --darken-gray-jb: #8e8e8e;
  --lighten-gray-jb: #e8e8e8;
  --black-jb: #131313;
  --white-jb: white;
  --almost-white-jb: #f8f8f8;
  --almost-black-jb: #303030;
  --orange-jb: #fe5824;
  --green-jb: #06d03f;
  --yellow-jb: #ffbf00;
  --red-jb: red;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins-Bold;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

.container-page {
  width: 100%;
  padding: 20px;
  background-color: var(--almost-white-jb);
}

@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

.form-control {
  outline: none;
}

.form-control.error {
  border: 1px solid var(--red-jb);
}

.active {
  background-color: #a6a6a6;
}

/****************** TABLE *************************/

thead {
  background-color: var(--lighten-gray-xonox);
}

tbody {
  background-color: var(--white-xonox);
}

tbody tr {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-xonox);
  line-height: 21px;
}

tbody td {
  vertical-align: middle;
}

thead tr th {
  font-weight: 400;
  font-size: 14px;
  color: var(--darken-gray-xonox);
  line-height: 21px;
}

th {
  font-weight: 300;
  font-size: 12px;
  color: var(--black-xonox);
  line-height: 18px;
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
}
